@model TheBookOfRecipes.Models.Recipe

<link href="~/css/every-page.css" rel="stylesheet" />
<link href="~/css/Recipes/recipe-details.css" rel="stylesheet" />

<section id="recipe-details">
    <h1 class="dark-blue-text details-item">@Model.Name</h1>
    <img class="details-item" src="~/@Model.ImageUrl" alt="@Model.Name"/>
    <div class="details-item">
        <h3 class="dark-blue-text">Description:</h3>
        <p class="light-blue-text">@Model.Description</p>
    </div>
    <div class="details-item">
        <h3 class="dark-blue-text">Instructions:</h3>
        <p style="white-space: pre-line;" class="light-blue-text">@Html.Raw(Model.Instructions)</p>
    </div>
    <div class="details-item">
        <h3 class="dark-blue-text">Ingredients:</h3>
        @foreach (var recipeIngredient in Model.RecipeIngredients)
        {
            <p class="dark-blue-text">
                @recipeIngredient.Ingredient.Name - <span class="quantity light-blue-text">@recipeIngredient.Quantity</span>
            </p>
        }
    </div>
    <a class="light-blue-text" asp-controller="Home" asp-action="Index">Back to Recipes</a>
</section>