@model IEnumerable<TheBookOfRecipes.Models.Recipe>

<h1>Рецепти</h1>

<div class="row">
    @foreach (var recipe in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@recipe.ImageUrl" class="card-img-top" alt="@recipe.Name" />
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                    <p class="card-text">@recipe.Description</p>
                    <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.RecipeId" class="btn btn-primary">Виж детайли</a>
                </div>
            </div>
        </div>
    }
</div>